/Interface e Controle VisualStudio/.vs/Controle de Braço Robótico v1/v16/.suo
/Interface e Controle VisualStudio/.vs/Controle de Braço Robótico v1/v16/Server/sqlite3/db.lock
/Interface e Controle VisualStudio/.vs/Controle de Braço Robótico v1/v16/Server/sqlite3/storage.ide
/Interface e Controle VisualStudio/.vs/Controle de Braço Robótico v1/v16/Server/sqlite3/storage.ide-shm
/Interface e Controle VisualStudio/.vs/Controle de Braço Robótico v1/v16/Server/sqlite3/storage.ide-wal
/Interface e Controle VisualStudio/Controle de Braço Robótico v1/obj
/Interface e Controle VisualStudio/Controle de Braço Robótico v1/bin
/.vs
